@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
body {
  margin: 0;
  /* width: 100% !important; */
  font-family: Arial, Helvetica, sans-serif;
}

.navbar-brand {
  color: #5f9d31 !important;
  font-size: xx-large;
  font-weight: 900;
  font-family: "Archivo Black", sans-serif;
}
.nav-link {
  font-size: 21px !important;
  color: black !important;
  font-weight: 600;
}
.collapse {
  justify-content: center !important;
}
.nav-item {
  margin-left: 15px !important;
}
  .inno{
      display: flex;
      margin-top: 100px !important;
      justify-content: center;
      margin-left:50px;
      margin-right:50px;
  }
  .texte{
    line-height: 2;
    font-size: larger;
    font-weight: 500;
    text-align:justify;
  }
  #equip{
    margin-top:50px;
    margin-bottom:50px;
    width:50%;
  }
  header a:hover, .section-reach {
    background-color: #5f9d31;
    color: #fff !important;
    border-bottom: 5px solid #faaf3a;
    margin-top: -8px;
  }
  footer {
    color: white;
  }
  .copyright {
    background-color: black;
    height: 60px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel-item img{
    width:100px;
  }
  .carousel-item h5, .carousel-item p{
    color:white;
  }
  .animation{
    display:flex;
    justify-content:center;
    margin-left:50px;
    margin-right:50px;
  }
  .anima {
    width:50%;
  }
  .brataimg{
    width:50%;
  }