body{
    margin-top: 80px !important;
} 
.navbar-brand {
    color: #5f9d31 !important;
    font-size: xx-large;
    font-weight: 900;
    font-family: "Archivo Black", sans-serif;
  }
  .nav-link {
    font-size: 21px !important;
    color: black !important;
    font-weight: 600;
  }
  .collapse {
    justify-content: center !important;
  }
  .nav-item {
    margin-left: 15px !important;
  }
.serve{
    display: flex;
}
.card{
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 50px !important;
    height: 500px;
}
.card-text{
    line-height: 1;
    font-size: larger;
    font-weight: 500;
    text-align:justify;
  
}
footer{
  color: white;
}
.copyright {
  background-color: black;
  height: 60px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
header a:hover, .section-reach {
  background-color: #5f9d31;
  color: #fff !important;
  border-bottom: 5px solid #faaf3a;
  margin-top: -8px;
}
