@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  transition: 200ms ease-out !important;
}

.brata {
  color: #faaf3a !important;
}

.navbar-brand {
  color: #5f9d31 !important;
  font-size: x-large;
  font-weight: 900;
  font-family: "Archivo Black", sans-serif;
}
.nav-link {
  font-size: 20px !important;
  color: #000 !important;
  font-weight: 600;
}
.collapse {
  justify-content: center !important;
}
.nav-item {
  margin-left: 15px !important;
}

header ul,
header li,
header:hover {
  height: 100% !important;
}

footer {
  color: #fff;
}

header a {
  transition: 300ms ease-in !important;
}

header a:hover {
  background-color: #5f9d31;
  color: #fff !important;
  border-bottom: 5px solid #faaf3a;
}

.navbar-brand:hover {
  background-color: initial;
  color: #5f9d31 !important;
  border-bottom: initial;
  height: initial;
}

.carousel-caption {
  display: flex !important;
  color: #000 !important;
  justify-content: space-between !important;
}
.carousel-item {
  transition: transform 2s ease-out, opacity 0.5s ease-in-out !important;
}

.owl-carousel div {
  filter: grayscale(100%);
  transition: all 1.5s ease-in-out;
}
.owl-carousel div:hover {
  filter: grayscale(5%);
}
.owl-carousel {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.288);
}
.publication {
  background: #d68c0b;
}

.black {
  background-color: rgb(255, 255, 255) !important;
}
.white {
  color: #5f9d31 !important;
}
.flex-center {
  display: flex;
  align-items: center;
}

.line {
  width: 100px;
  height: 4px;
  background-color: #faaf3a;
  display: flex;
  margin-left: 5px;
}
.pres-title {
  color: #faaf3a !important;
  font-size: 1em;
  font-weight: 900;
}
.copyright {
  background-color: black;
  height: 60px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.presentation-section * {
  margin: 0.5em 0 10px 0.5em;
  line-height: 2;
  font-size: larger;
  font-weight: 500;
}
.flex-center {
  margin-top: 20px;
}
.team:hover {
  filter: grayscale(1%);
}
.services {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #daf4fe;
}
.services > div:nth-child(2) {
  border-left: 7px solid white;
  border-right: 7px solid white;
}
.btn-outline-primary {
  align-self: flex-end !important;
}

.col-md-3 ul > li {
  list-style: none;
}

#presentation {
  background-color: #f7f7f7;
}

.zoom .col .h-90:hover {
  box-shadow: 30px 25px 20px rgba(231, 227, 227, 0.712);
}
