@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");

body {
  margin: 0;
  width: 100% !important;
}

* {
  transition: 2s ease-out !important;
}

.brata {
  color: #faaf3a !important;
}

.navbar-brand {
  color: #5f9d31 !important;
  font-size: x-large;
  font-weight: 900;
  font-family: "Archivo Black", sans-serif;
}
.nav-link {
  font-size: 20px !important;
  color: #000 !important;
  font-weight: 600;
}
.collapse {
  justify-content: center !important;
}
.nav-item {
  margin-left: 15px !important;
}
.carousel-caption {
  display: flex !important;
  color: #000 !important;
  justify-content: space-between !important;
}
.carousel-item {
  transition: transform 2s ease-out, opacity 0.5s ease-in-out !important;
}

.owl-carousel div {
  filter: grayscale(100%);
  transition: all 1.5s ease-in-out;
}
.owl-carousel div:hover {
  filter: grayscale(5%);
}
.owl-carousel {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.288);
}
.publicationS {
  background: #d68c0b;
}

.black {
  background-color: rgb(255, 255, 255)  !important;
}
.white {
  color: #5f9d31 !important;
}
